#button{
    display: block;
    padding: 0; 
    border-radius: 1.6em;
    color:white;
    font-size: 48px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(-45deg, rgba(87, 225, 181, 1) 0%, rgba(0, 63, 255, 1) 100%);
    box-shadow: 0 5px 20px rgba(0, 63, 255, .5);
  }